.maykin_footer {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 8px;

  background-color: var(--darkened-bg);
  padding-inline: 40px;
  padding-block: 20px;
}

/* See admin/css/responsive.css for the breakpoint definitions */
@media (max-width: 1024px) {
  .maykin_footer {
    padding-inline: 20px;
    padding-block: 15px;
  }
}
