.product-branding {
  color: var(--body-quiet-color);

  display: flex;
  flex-direction: row;
  column-gap: 1em;
  align-items: center;

  a:not(:has(img)) {
    color: var(--body-quiet-color);
    text-decoration: underline;
  }

  .product-branding__part {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 4px;
  }

  .product-branding__logo {

    &.product-branding__logo--maykin {
      max-block-size: var(--mkn-product-branding-logo-maykin-max-block-size, 24px);
    }

    &.product-branding__logo--favicon {
      max-block-size: var(--mkn-product-branding-logo-favicon-max-block-size, 24px);
    }
  }

  .product-branding__logo-link {
    line-height: 0;
  }

}
